#WelcomeMessage {
    font-family: 'Bangers', cursive;
    font-size: 24px;
}

#nav-img {
    height: 50px;
    width: auto;
}

.brand-logo {
    font-family: 'Bangers', cursive;
    font-size: 36px;
}

.nav-list, #alert {
    font-family: 'Oswald', sans-serif;
}
