* {
    font-family: 'Oswald', sans-serif;
}

#logo-img {
    height: 400px;
    width: auto;
    position: absolute;
    bottom: 10px;
    left: 10px
}

#bg {
    background: url(./images/skyline.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: auto;
}

#welcome {
    /* font-family: 'Pacifico', cursive;  */
    /* font-family: 'Knewave', cursive;  */
    font-family: 'Bangers', cursive;
    /* font-family: 'Fredericka the Great', cursive; */
    /* font-family: 'Love Ya Like A Sister', cursive;  */
    /* font-family: 'Skranji', cursive;  */
    /* font-family: 'Ceviche One', cursive; */
    /* font-family: 'Megrim', cursive;  */
    /* font-size: 72px; */
    color: whitesmoke;
    padding: 0;
    margin: 0
}

.btn-large, .btn-small, .btn {
    font-family: 'Oswald', sans-serif;
}
