#logo-img {
    height: 60px;
    width: auto
}

#bg {
    background: url(./images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 2000px;
    width: auto;
}

#content {
    background-color: whitesmoke;
    opacity: 0.7
}
